.topNav {
  background-color: rgb(200, 61, 0);
}

.searchBar {
  width: 70%;
}

.nav-logo {
  padding: 10px;
  background-color: #ff742b !important;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 7px #ff742b;
  border: 1px solid white;
  font-size: 1.4rem;
}
.nav-logo span {
  color: #fff !important;
  font-size: 1rem;
}

.navbar-headline {
  color: #fff;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  width: 15%;
}
